.root {
    -fx-background-color: linear-gradient(to bottom right, #1e1e2f, #252540);
    -fx-padding: 40;
}

.title {
    -fx-font-size: 26px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.input {
    -fx-pref-width: 400;
    -fx-pref-height: 120;
    -fx-background-radius: 10;
    -fx-font-size: 14px;
}

.btn {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 20;
    -fx-padding: 10 30;
}

.btn:hover {
    -fx-background-color: #45a049;
}

.result {
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
}
